.NewsItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3vh;
    height: 40vh;
    width: calc(100vw/3.3);
    border-bottom: 1px solid rgb(200, 200, 200);
    img {
      width: auto;
      height: auto;
      max-height: 15vh;
      max-width: 10vw;
      object-fit: cover;
    }
    a {
      text-decoration: none;
    }
  }